{% extends "base.html" %}
{% load static %}
{% block h1_body1 %}
About Me - Pablo Ceballos
{% endblock h1_body1 %}
{% block description %}
<div>
    <p>Mi nombres es Pablo Ceballos, soy estudiante de la carrera de Licenciatura en Ciencia de Datos en la Universidad Nacional de San Martin.</p>
    <p>Actualmente me encuentro trabajando como técnico en el servicio de Ingeniería Clínica en Swiss Medical.</p>
    <p>Buscando un cambio en mi carrera profesional, me interesé por el mundo de la programación y los datos, en lo cual vengo adquiriendo conocimientos desde el 2020.</p>
</div>
<div>
    <p>Este proyecto de página web corresponde al curso de CoderHouse - Programación Python</p>
    <p>El mismo pretende emular una página web para la administración de pacientes con sus historias clínicas.</p>
    
    </div>
<br>
{% endblock description %}
{% block main %}
<h1>Resume</h1>
<h2>Pablo Ceballos</h2>
<ul>
    <li>
        Fecha de nacimiento: 08/10/1989
    </li>
    <li>
        Lugar de residencia: Buenos Aires, Argentina
    </li>
</ul>

<h3>Estudios Cursados</h3>
    <ul>
        <li>
            Programación Python (CoderHouse) - 2024/actual
        </li>
        <li>
            Licenciatura en Ciencia de Datos - 2023/actual
        </li>
        <li>
            Ingeniería Biomédica - 2007/incompleto
        </li>
        <li>
            Bachiller contable - 2005/2007
        </li>
    </ul>
<h3>Experiencia laboral</h3>
    <ul>
        <li>
            Swiss Medical Group - Técnico Ingeniería Clínica - 2016/act
        </li>
        <li>
            Laboratorio CES - Técnico Seguridad Eléctrica - 2013/2016
        </li>
    </ul>
<h3>Hobbies</h3>
<ul>
    <li>
        Guitarra
    </li>
    <li>
        Fútbol
    </li>
</ul>

{% endblock main %}


