<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'inicio\static\estilos\css\styles.css' %}>
    <title>Agregar paciente</title>
</head>
<body>
    <p>Agregar paciente</p>
    <form action={% url "agregar_paciente" %} method="POST">
        {% csrf_token %}
        {% comment %} <p>
            Nombre
            <input type="text" name="nombre">
        </p>
        <p>
            Apellido
            <input type="text" name="apellido">
        </p>
        <p>
            DNI
            <input type="number" name="dni">
        </p>
        <p>
            Plan
            <input type="text" name="plan">
        </p> {% endcomment %}
        <table>
            {{formulario_crear_paciente}}
        </table>
        <input type="submit" value="Agregar">
    </form>
</body>
</html>