{% extends "base.html" %}
{% block h1_body1 %}
    Lista de pacientes
{% endblock h1_body1 %}    


{% block main %}
    <form action={% url 'pacientes' %}>
        {{formulario_buscar}}
        <input type="submit" value="Buscar">
    </form>
    {% if pacientes %}
        <ul>
            {% for paciente in pacientes %}
                <li>{{paciente}} 
                    |<a href= {% url "ver_paciente" paciente.id %}>Detalles</a>
                    |<a href= {% url "editar_paciente" paciente.id %}>Modificar</a>
                    |<a href= {% url "eliminar_paciente" paciente.id %}>Eliminar</a>
                    {% comment %} <script>alert</script> {% endcomment %}
                </li>
            {% endfor %}
        </ul>
    {% else %}    
        <p>No hay Pacientes cargados.</p>
    {% endif %}
{% endblock main %}

{% block accion1 %}
    <a class="btn btn-primary" href={% url 'agregar_paciente' %}>Agregar Paciente</a>
{% endblock accion1 %}