<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'inicio\static\estilos\css\styles.css' %}>
    <title>Ceballos FinalProject</title>
</head>
<body>
    <header>
        <h1>Proyecto Final</h1>
    </header>
    <nav>
        <a href={% url 'inicio' %} class="nav_link">INICIO</a>
        <a href={% url 'pacientes' %} class="nav_link">PACIENTES</a>
        

    </nav>
    <h2>Hola Mundo</h2>


    
</body>
</html>