<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</title>
</head>
<body>
    <h1>Lista de pacientes</h1>
    <form action={% url 'pacientes' %}>
        {% comment %} <table>
            {{formulario_buscar}}
        </table> {% endcomment %}
        {{formulario_buscar}}
        <input type="submit" value="Buscar">
    </form>
    {% if pacientes %}
        <ul>
            {% for paciente in pacientes %}
                <li>{{paciente}}</li>
            {% endfor %}
        </ul>
    {% else %}    
        <p>Pacientes no encontrados.</p>
    {% endif %}
        
        
    
    <a href={% url 'agregar_paciente' %}>AGREGAR PACIENTE</a>

    
</body>
</html>