{% extends "base.html" %}
{% block h1_body1 %}
Perfil de usuario {{request.user}}
{% endblock h1_body1 %}
{% block main %}
   <ul>
        <li>Nombre: {{request.user.first_name}}</li>
        <li>Apellido: {{request.user.last_name}}</li>
        <li>Email: {{request.user.email}}</li>
        <li>Bio: {{request.user.datos_extra.bio}}</li>
        <li>Avatar:
            <img src={{request.user.datos_extra.avatar.url}} >
        </li>
   </ul>
   <h5>Prueba para mostrar avatar</h5>
   <div>
    <img stlye='max-width:100px' src={{request.user.datos_extra.avatar.url}}>
    
    <p>{{request.user.datos_extra.avatar.url}}</p>
    
   </div>
   
   <a class="btn btn-primary" href={% url "editar_perfil" %}>Editar Perfil</a>
   <a class="btn btn-primary" href={% url "cambiar_contrasenia" %}>Cambiar Contraseña</a>
   <br>
   <br>



{% endblock main %}
{% block accion1 %}
    <a class="btn btn-primary" href={% url 'inicio' %}>Home</a>
{% endblock accion1 %}
{% block cards %}
{% endblock cards %}