{% extends "base.html" %}
{% block h1_body1 %}
Registro de usuario
{% endblock h1_body1 %}
{% block main %}
    <form action={% url "registro" %} method="POST">
        {% csrf_token %}
        <table>
            {{formulario}}
            {% comment %} form {% endcomment %}
        </table>
        <input type="submit" value="Registarse">
    </form>
{% endblock main %}
{% block accion1 %}
    <a class="btn btn-primary" href={% url 'inicio' %}>Home</a>
{% endblock accion1 %}
{% block cards %}
{% endblock cards %}